@media (max-width: 952px){
	label.logo{
	  font-size: 30px;
	  padding-left: 50px;
	}
	nav ul li a{
	  font-size: 16px;
	}
  }
  @media (max-width: 858px){
	.checkbtn{
	  display: block;
	}
	ul{
	  position: fixed;
	  width: 100%;
	  height: 100vh;
	  z-index: 100;
	  background: crimson;
	  top: 80px;
	  left: -100%;
	  text-align: center;
	  transition: all .5s;
	}
	nav ul li{
	  display: block;
	  margin: 50px 0;
	  line-height: 30px;
	}
	nav ul li a{
	  font-size: 20px;
	}
	a:hover{
	  background: none;
	  color: crimson;
	}
	#check:checked ~ ul{
	  left: 0;
	}
  }

  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }


  /* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.btn {
		font-size: 2.5rem;
		padding: 20px 
			40px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* ved */
	#style h1 {
		font-size: 7rem;
	}
	/* End ved*/


	#hobby .hobby-bottom .hobby-item {
		flex-basis: 45%;
		margin: 2.5%;
    overflow: hidden;
	}
	

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .👈 {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .👈 .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .👉 {
		text-align: left;
		padding: 30px;
	}
	#about .👉 h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 50px 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {


	#hobby .hobby-bottom.hobby-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */